<!--头部-->
meta {
    display: none;
}
html {
    font-size: 14px;
}
::selection {
    color: #fff;
    background-color:#ffffff;
}
body {
    min-width: 1024px;
    min-height: 100%;
    background-color: #ffffff;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;

    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}
body {
    display: block;
    margin: 8px;
}
input {
    font-family: Arial,"Hiragino Sans GB","Microsoft Yahei",SimSun;
}
button, input, optgroup, select, textarea {
    margin: 0;
    padding: 0;
    border: 1px solid #ededed;
    font-family: inherit;
}
input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}
input {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(78, 130, 203), rgb(133, 133, 133));
    border-image: initial;
}

.sso_header {
    position: relative;
    width: 100%;
    height: 360px;
    background-color: #000000;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

header {
    display: block;
}

.sso_header .logo {
    position: absolute;
    z-index: 9999;
    top: 94px;
    left: 50%;
    margin-left: -350px;
    width: 314px;
    height: 24px;
    background: url(../img/img1.png) no-repeat;
    background-size: contain;
}
a {
    
    outline: 0;
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    
}


.content_box {
    width: 552px;
    margin: -205px auto 60px;
    padding: 62px 70px 68px 78px;
    background-color: #fff;
    display: table;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #dce1e6;
}
.content_box {
    position: relative;
    z-index: 1;
}

.content_box .qr_code_content {
    position: absolute;
    top: 6px;
    left: 6px;
    cursor: pointer;
}

.content_box .qr_code_content .qr_code_img {
    width: 52px;
    height: 52px;
    background: url(https://www.lgstatic.com/lg-passport-fed/static/common/static/img/qrcode-normal_bb3ab97.svg) left center no-repeat;
    float: left;
}

.content_box .qr_code_content .mobile-info {
    width: 158px;
    height: 34px;
    position: absolute;
    left: 48px;
    background: url(https://www.lgstatic.com/lg-passport-fed/static/pc/modules/common/img/scan_6b80f5c.png) no-repeat;
    background-size: 100%;
}
.content_box .left_area {
    width: 290px;
}

.content_box .left_area .form-content {
    display: none;
}
.form_head {
    position: relative;
    z-index: 1;
    height: 33px;
    margin-bottom: 29px;
    border-bottom: 1px solid #ebebeb;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.form_head li.active {
    color: 	#2894FF;
}
.form_head li {
    font-size: 16px;
    line-height: 24px;
    position: relative;
    float: left;
    width: 50%;
    height: 33px;
    cursor: pointer;
    text-align: center;
    color: #333;
}
li {
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.content_box .tab_active {
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 1;
    background-color: 	#2894FF;
    width: 150px;
    height: 1px;
}

.content_box .divider:after {
    position: absolute;
    content: "or";
    left: 50%;
    top: 50%;
    padding: 2px;
    background-color: #fff;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.content_box .divider {
    position: relative;
    border-left: 1px dashed #ededed;
    height: 274px;
    color: #d8d8d8;
    margin: 0 52px;
}

.content_box .right_area {
    width: 150px;
    padding-top: 26px;
    color: #777;
    display: none;
}
h5 {
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-weight: 400;
}
h5 {
    display: block;
    
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.content_box .right_area .register_now {
    display: inline-block;
    height: 22px;
    font-size: 16px;
    color: 	#2894FF;
    padding-right: 23px;
    background: url() right center no-repeat;
}


.vender_login {
    margin-top: 12px;
    text-align: center;
}

.content_box .tab_active:before, .content_box .tab_active:after {
    position: absolute;
    z-index: 2;
    top: -12px;
    left: 50%;
    margin-left: -3px;
    content: "";
    width: 0;
    height: 0;
    line-height: 0;
    border: 6px solid transparent;
    border-bottom-color: #1736d2;
}
.content_box .tab_active:after {
    z-index: 3;
    top: -11px;
    width: 0;
    height: 0;
    line-height: 0;
    border: 6px solid transparent;
    border-bottom-color: #fff;
}


form {
    display: block;
    margin-top: 0em;
}
.content_box .input_item {
    position: relative;
}
.input_item:first-child {
    z-index: 2;
}

.input_item {
    position: relative;
    z-index: 1;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

form {
    display: block;
    margin-top: 0em;
}
.content_box .input {
    box-sizing: border-box;
    width: 290px;
    border-radius: 0;
}
.content_box .input_white, .content_box .dropbtn_white {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-color: #ededed;
    background: 0 0;
}

.input_white, .dropbtn_white {
    border-color: #f8f8f8;
    background-color: #f8f8f8;
}
.input, .dropbtn {
    font-size: 14px;
    position: relative;
    z-index: 1;
    height: 44px;
    line-height: 44px\9;
    vertical-align: middle;
    color: #333;
    border-width: 1px;
    border-style: solid;
    outline: 0;
}

element.style {
    display: block;
}
.content_box .input_item+.input_item {
    margin-top: 20px;
}
.content_box .input_item {
    position: relative;
}

*+.input_item {
    margin-top: 23px;
}
.input_item {
    position: relative;
    z-index: 1;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.content_box .input {
    box-sizing: border-box;
    width: 290px;
    border-radius: 0;
}
.content_box .input_white, .content_box .dropbtn_white {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-color: #ededed;
    background: 0 0;
}
.input_white, .dropbtn_white {
    border-color: #f8f8f8;
    background-color: #f8f8f8;
}
.input, .dropbtn {
    font-size: 14px;
    position: relative;
    z-index: 1;
    height: 44px;
    line-height: 44px\9;
    vertical-align: middle;
    color: #333;
    border-width: 1px;
    border-style: solid;
    outline: 0;
}


.content_box .input_item+.input_item {
    margin-top: 20px;
}
.input_white, .dropbtn_white {
    border-color: #f8f8f8;
    background-color: #f8f8f8;
}
.input, .dropbtn {
    font-size: 14px;
    position: relative;
    z-index: 1;
    height: 44px;
    line-height: 44px\9;
    vertical-align: middle;
    color: #333;
    border-width: 1px;
    border-style: solid;
    outline: 0;
}



.content_box .input_item+.input_item {
    margin-top: 20px;
}
.content_box .input_item {
    position: relative;
}

*+.input_item {
    margin-top: 23px;
}
.input_item {
    position: relative;
    z-index: 1;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.content_box .input {
    box-sizing: border-box;
    width: 290px;
    border-radius: 0;
}
.content_box .input_white, .content_box .dropbtn_white {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-color: #ededed;
    background: 0 0;
}
.input_white, .dropbtn_white {
    border-color: #f8f8f8;
    background-color: #f8f8f8;
}
.input, .dropbtn {
    font-size: 14px;
    position: relative;
    z-index: 1;
    height: 44px;
    line-height: 44px\9;
    vertical-align: middle;
    color: #333;
    border-width: 1px;
    border-style: solid;
    outline: 0;
}



.content_box .input_item+.input_item {
    margin-top: 20px;
}
.content_box .input_item {
    position: relative;
}

*+.input_item {
    margin-top: 23px;
}
.input_item {
    position: relative;
    z-index: 1;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.content_box [data-propertyname=request_form_verifyCode] input[type=text] {
    padding-right: 130px;
}

.content_box .input.verify_code_input {
    padding-right: 140px;
}
.input_group>input:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.content_box .input {
    box-sizing: border-box;
    width: 290px;
    border-radius: 0;
}
.content_box .input_white, .content_box .dropbtn_white {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-color: #ededed;
    background: 0 0;
}
[data-controltype=VerifyCode] input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input_group input {
    float: left;
}
.fl {
    float: left;
}
.input_white, .dropbtn_white {
    border-color: #f8f8f8;
    background-color: #f8f8f8;
}
.input, .dropbtn {
    font-size: 14px;
    position: relative;
    z-index: 1;
    height: 44px;
    line-height: 44px\9;
    vertical-align: middle;
    color: #333;
    border-width: 1px;
    border-style: solid;
    outline: 0;
}

.content_box .yzm {
    position: absolute;
    right: 0;
    top: 1px;
    z-index: 1;
    width: 98px;
    line-height: 38px;
    color: #777;
}
img {
    border: 0;
    vertical-align: top;
    display: inline-block;
}
img[Attributes Style] {
    width: 98px;
    aspect-ratio: auto 98 / 40;
    height: 40px;
}
.content_box .reflash {
    position: absolute;
    right: 0;
    top: 1px;
    z-index: 2;
    height: 40px;
    width: 98px;
}



.content_box .input_item+.input_item {
    margin-top: 20px;
}
.content_box .input_item {
    position: relative;
}

*+.input_item {
    margin-top: 23px;
}
.input_item {
    position: relative;
    z-index: 1;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content_box .forgot_pwd {
    position: relative;
    float: right;
    font-size: 14px;
    display: block;
    text-align: right;
    text-decoration: none;
    color: 	#2894FF;
    margin-top: -5px;
    z-index: 3;
}

.content_box .reflash {
    position: absolute;
    right: 0;
    top: 1px;
    z-index: 2;
    height: 40px;
    width: 98px;
}

.content_box .input_item.btn_group {
    margin-top: 24px;
}
.content_box .input_item+.input_item {
    margin-top: 20px;
}
.content_box .input_item {
    position: relative;
}

.input_item {
    position: relative;
    z-index: 1;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn_green:hover, .btn_green.btn_active {
    color: #fff;
    border-color: 	#2894FF;
    background-color: 	#2894FF;
}
.btn:hover, .btn.btn_active {
    text-decoration: none;
    color: 	#2894FF;
    background-color: #fff;
}
label, select, button, input[type=button], input[type=reset], input[type=submit], input[type=radio], input[type=checkbox] {
    cursor: pointer;
}
.btn_green {
    color: 	#2894FF;
    border-color: 	#2894FF;
    background-color: #fff;
}
.btn_block {
    display: block;
    width: 100%;
}
.btn_lg {
    font-size: 18px;
    line-height: 46px;
    height: 46px;
}
.btn {
    font-size: 16px;
    line-height: 44px;
    display: inline-block;
    height: 44px;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    outline: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: .05s linear;
    -o-transition: .05s linear;
    transition: .05s linear;
}

.content_box .form_body:last-child {
    display: none;
}

form {
    display: block;
    margin-top: 0em;
}
.content_box .input_item {
    position: relative;
}
.input_item:first-child {
    z-index: 2;
}

.input_item {
    position: relative;
    z-index: 1;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.area_code {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    float: left;
    width: 50px;
    height: 44px;
    padding-right: 22px;
    line-height: 44px;
    cursor: default;
}
.area_code_list {
    position: absolute;
    left: 0;
    top: 46px;
    z-index: 10;
    display: none;
    width: 200px;
    max-height: 240px;
    border: 1px solid #eee;
    overflow-y: scroll;
    background-color: #fff;
}
.area_code_list dl {
    line-height: 36px;
    cursor: default;
}
dl, dt, dd {
    margin: 0;
}
dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.area_code_list dt {
    padding: 0 12px;
    color: #999;
    background-color: #FBFBFB;
}
dl, dt, dd {
    margin: 0;
}
dt {
    display: block;
}

.area_code_list dd {
    padding: 0 12px;
    color: #555;
}
dl, dt, dd {
    margin: 0;
}
dd {
    display: block;
    margin-inline-start: 40px;
}
.area_code_list dd span {
    float: right;
}
.area_code_list dt {
    padding: 0 12px;
    color: #999;
    background-color: #FBFBFB;
}
.area_code_list dd {
    padding: 0 12px;
    color: #555;
}
.area_code_list .tips {
    color: #B5B5B5;
    padding: 20px 12px;
}
p {
    margin: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.content_box [data-propertyname=request_form_verifyCode] input[type=text] {
    padding-right: 130px;
}
.content_box .input.verify_code_input {
    padding-right: 140px;
}
.input_group>input:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.content_box .input {
    box-sizing: border-box;
    width: 290px;
    border-radius: 0;
}
.content_box .input_white, .content_box .dropbtn_white {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-color: #ededed;
    background: 0 0;
}
[data-controltype=VerifyCode] input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input_group input {
    float: left;
}



.content_box [data-propertyname=request_form_verifyCode] input[type=text] {
    padding-right: 130px;
}
.content_box .input.verify_code_input {
    padding-right: 140px;
}

.content_box .input {
    box-sizing: border-box;
    width: 290px;
    border-radius: 0;
}
.content_box .input_white, .content_box .dropbtn_white {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-color: #ededed;
    background: 0 0;
}
[data-controltype=VerifyCode] input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input_group input {
    float: left;
}

.input_white, .dropbtn_white {
    border-color: #f8f8f8;
    background-color: #f8f8f8;
}
.input, .dropbtn {
    font-size: 14px;
    position: relative;
    z-index: 1;
    height: 44px;
    line-height: 44px\9;
    vertical-align: middle;
    color: #333;
    border-width: 1px;
    border-style: solid;
    outline: 0;
}

img {
    border: 0;
    vertical-align: top;
    display: inline-block;
}
img[Attributes Style] {
    width: 98px;
    aspect-ratio: auto 98 / 40;
    height: 40px;
}
.content_box .reflash {
    position: absolute;
    right: 0;
    top: 1px;
    z-index: 2;
    height: 40px;
    width: 98px;
}


.content_box .input_item+.input_item {
    margin-top: 20px;
}
.content_box .input_item {
    position: relative;
}
*+.input_item {
    margin-top: 23px;
}
.input_item {
    position: relative;
    z-index: 1;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content_box .input_group>input.first_child {
    padding-right: 80px;
}
.input_group>input:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.content_box .input {
    box-sizing: border-box;
    width: 290px;
    border-radius: 0;
}
.content_box .input_white, .content_box .dropbtn_white {
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-color: #ededed;
    background: 0 0;
}
.input_group input {
    float: left;
}
.input_white, .dropbtn_white {
    border-color: #f8f8f8;
    background-color: #f8f8f8;
}
.content_box .input_group>input.last_child {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    height: 43px;
    font-size: 14px;
    padding: 0;
    border: 0;
}
.input_group>input:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn:hover, .btn.btn_active {
    text-decoration: none;
    color: 	#2894FF;
    background-color: #fff;
}
label, select, button, input[type=button], input[type=reset], input[type=submit], input[type=radio], input[type=checkbox] {
    cursor: pointer;
}
.input_group input {
    float: left;
}
.content_box .input_item+.input_item {
    margin-top: 20px;
}
.content_box .input_item {
    position: relative;
}
.content_box .verify_tips {
    margin-top: 12px;
    color: #777;
}
*+.input_item {
    margin-top: 23px;
}
.input_item {
    position: relative;
    z-index: 1;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
p {
    margin: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.content_box .verify_tips .auto_phone {
    outline: 0;
    text-decoration: none;
    color: 	#2894FF;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    font-size: 14px;
}
label, select, button, input[type=button], input[type=reset], input[type=submit], input[type=radio], input[type=checkbox] {
    cursor: pointer;
}

.content_box .verify_tips .verify_tips_main, .content_box .verify_tips .verify_tips_count_down {
    display: none;
}
.content_box .verify_tips .verify_tips_main, .content_box .verify_tips .verify_tips_count_down {
    display: none;
}
p+p {
    margin-top: 10px;
}

p {
    margin: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.content_box .input_item.btn_group {
    margin-top: 24px;
}
.content_box .input_item+.input_item {
    margin-top: 20px;
}
.content_box .input_item {
    position: relative;
}
.btn_green:hover, .btn_green.btn_active {
    color: #fff;
    border-color: 	#2894FF;
    background-color: 	#2894FF;
}
.btn_green:hover, .btn_green.btn_active {
    color: #fff;
    border-color: 	#2894FF;
    background-color: 	#2894FF;
}
.content_box .left_area .qrCode-content {
    display: none;
    padding-top: 34px;
    text-align: center;
}

.content_box .left_area .qr-tip {
    margin-bottom: 10px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666;
    text-align: center;
}

.content_box .left_area .qrCode-content .img-content {
    text-align: center;
    height: 170px;
}

.content_box .left_area #qrCode {
    width: 170px;
    height: 170px;
}
.content_box .left_area .qrCode-content .img-content img[src=""], .content_box .left_area .qrCode-content .img-content img:not([src]) {
    opacity: 0;
}
img {
    border: 0;
    vertical-align: top;
    display: inline-block;
}
.content_box .left_area #qrCodeCanvas {
    display: none;
}

canvas[Attributes Style] {
    aspect-ratio: auto 170 / 170;
}
.content_box .left_area .scan-success {
    display: none;
    position: absolute;
    top: 88px;
    left: 115px;
    width: 206px;
    height: 210px;
    background-color: #fff;
}
div {
    display: block;
}
.content_box .left_area .scan-success-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.content_box .left_area .scan-success-content img {
    width: 80px;
    height: 80px;
}
img {
    border: 0;
    vertical-align: top;
    display: inline-block;
}
.content_box .left_area .scan-success-content .text {
    margin: 20px 0 10px;
    font-size: 18px;
    font-family: PingFangSC-Medium,PingFang SC;
    font-weight: 500;
    color: 	#2894FF;
}
.content_box .left_area .scan-success-content button {
    background: transparent;
    outline: 0;
    border-radius: 4px;
    padding: 2px 8px;
    border: 0;
    font-size: 14px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: #333;
}
label, select, button, input[type=button], input[type=reset], input[type=submit], input[type=radio], input[type=checkbox] {
    cursor: pointer;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.agree_text {
    margin-top: 31px;
    text-align: center;
    color: #999;
    font-size: 12px;
    position: relative;
}

.agree_text .login-tip {
    display: none;
    height: 39px;
    line-height: 39px;
    text-align: center;
    background: rgba(51,51,51,.9);
    border-radius: 3px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 10%);
    width: 158px;
    top: -45px;
    left: 0;
    z-index: 99;
    position: absolute;
}
.agree_text .login-tip span {
    font-size: 13px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: #FFF;
    line-height: 19px;
}
.agree_text .login-checked {
    width: 16px;
    height: 17px;
    margin-right: 6px;
    display: inline-block;
    cursor: pointer;
}
.agree_text .login-checked img {
    width: 100%;
    vertical-align: bottom;
}
.agree_text .login-checked .checked {
    display: none;
}


.agree_text .login-checked img {
    width: 100%;
    vertical-align: bottom;
}
img {
    border: 0;
    vertical-align: top;
    display: inline-block;
}
.agree_text .login-checked .checked {
    display: none;
}
.agree_text .login-checked img {
    width: 100%;
    vertical-align: bottom;
}
.agree_text a {
    color: 	#2894FF;
    text-decoration: none;
}

.content_box .divider {
    position: relative;
    border-left: 1px dashed #ededed;
    height: 274px;
    color: #d8d8d8;
    margin: 0 52px;
}



.content_box .right_area h5 {
    margin: 44px 0 8px;
    color: #555;
}



ul {
    margin: 0;
    padding: 0;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    
}
.vender_login li:first-child {
    margin: 0;
}
.vender_login li {
    display: block;
    margin-left: 22px;
    float: left;
}

.vender_login li .icon_sina {
    background-image: url(https://www.lgstatic.com/lg-passport-fed/static/pc/modules/common/img/icon-sina_e161002.png);
}


.vender_login li .icon_wechat {
    background-image: url(https://www.lgstatic.com/lg-passport-fed/static/pc/modules/common/img/icon-wechat_823d4eb.png);
}

.vender_login li .icon_tencent {
    background-image: url(https://www.lgstatic.com/lg-passport-fed/static/pc/modules/common/img/icon-tencent_c85c20a.png);
}

.vender_login li .icon_baidu {
    background-image: url(https://www.lgstatic.com/lg-passport-fed/static/pc/modules/common/img/icon-baidu_d1ad2b6.png);
}
.vender_login li .vender_icon {
    display: inline-block;
    width: 20px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
}




element.style {
    overflow: hidden;
    width: 500px;
}

.popup .error_msg {
    background: url(https://www.lgstatic.com/lg-passport-fed/static/pc/modules/common/img/info_03c90e8.png) 0 9px no-repeat;
    padding-left: 24px;
    width: 380px;
    margin: 0 auto 25px;
    text-align: left;
    min-height: 29px;
    line-height: 36px;
    margin-top: 20px;
}
h4 {
    font-size: 16px;
}


script {
    display: none;
}
._th-container {
    font-size: 12px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    left: -35px;
    top: 20%;
    position: fixed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 100000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
._th-container ._th-item, ._th-container ._th-click-hover, ._th_cover-all-show-times ._th_times {
    -webkit-box-shadow: -3px 4px 12px -5px black;
    box-shadow: -3px 4px 12px -5px black;
}
._th-click-hover {
    position: relative;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    height: 45px;
    width: 45px;
    cursor: pointer;
    opacity: .3;
    border-radius: 100%;
    background-color: 	#2894FF;
    text-align: center;
    line-height: 45px;
    right: 0;
}

._th_cover-all-show-times._th_hidden {
    z-index: -99999;
    opacity: 0;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
}
._th_cover-all-show-times {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    opacity: 1;
    font-weight: 900;
    font-size: 30px;
    color: #4f4f4f;
    background-color: rgba(0,0,0,0.1);
}

._th_cover-all-show-times ._th_times {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: 	#2894FF(127,255,212,0.51);
    text-align: center;
    line-height: 300px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -150px;
    margin-right: -150px;
}
._th-container ._th-item, ._th-container ._th-click-hover, ._th_cover-all-show-times ._th_times {
    -webkit-box-shadow: -3px 4px 12px -5px black;
    box-shadow: -3px 4px 12px -5px black;
}

#cboxOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(https://www.lgstatic.com/lg-passport-fed/static/pc/modules/error-pop/img/overlay_c2e5558.png) repeat 0 0;
}
#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

#colorbox {
    outline: 0;
}
#colorbox, #cboxContent, #cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}

#colorbox, #cboxOverlay, #cboxWrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
}


#cboxTopLeft {
    width: 13px;
    height: 13px;
    background: #3a3a3a;
    opacity: .5;
    filter: alpha(opacity=50);
}

#cboxTopCenter {
    height: 13px;
    background: #3a3a3a;
    opacity: .5;
    filter: alpha(opacity=50);
}

#cboxTopRight {
    width: 13px;
    height: 13px;
    background: #3a3a3a;
    opacity: .5;
    filter: alpha(opacity=50);
}

#cboxMiddleLeft {
    width: 13px;
    background: #3a3a3a;
    opacity: .5;
    filter: alpha(opacity=50);
}
#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}
#colorbox, #cboxContent, #cboxLoadedContent {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
}
#cboxContent {
    position: relative;
    overflow: hidden;
    background: #fff;
}

#cboxTitle {
    margin: 0;
    font-size: 18px;
    color: #fff;
    background: 	#2894FF;
    height: 44px;
    width: 100%;
    text-indent: 1em;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 44px;
}
#cboxCurrent {
    position: absolute;
    bottom: 4px;
    left: 58px;
    color: #949494;
}
#cboxPrevious {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(https://www.lgstatic.com/lg-passport-fed/static/pc/modules/error-pop/img/controls_74ddda3.png) no-repeat;
    width: 19px;
    height: 19px;
    text-indent: -9999px;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: 0;
}
label, select, button, input[type=button], input[type=reset], input[type=submit], input[type=radio], input[type=checkbox] {
    cursor: pointer;
}

#cboxNext {
    position: absolute;
    bottom: 0;
    left: 27px;
    background: url(https://www.lgstatic.com/lg-passport-fed/static/pc/modules/error-pop/img/controls_74ddda3.png) no-repeat;
    width: 19px;
    height: 19px;
    text-indent: -9999px;
}
#cboxSlideshow {
    position: absolute;
    bottom: 4px;
    right: 30px;
    color: #0092ef;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    overflow: visible;
    width: auto;
    background: 0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#cboxLoadingOverlay {
    background: url(https://www.lgstatic.com/lg-passport-fed/static/pc/modules/error-pop/img/loading_background_acf427e.png) no-repeat center center;
}
#cboxLoadingGraphic {
    background: url(https://www.lgstatic.com/lg-passport-fed/static/pc/modules/error-pop/img/loading_e6611f8.gif) no-repeat center center;
}
#cboxMiddleRight {
    width: 13px;
    background: #3a3a3a;
    opacity: .5;
    filter: alpha(opacity=50);
}
#cboxBottomLeft {
    width: 13px;
    height: 13px;
    background: #3a3a3a;
    opacity: .5;
    filter: alpha(opacity=50);
}
#cboxMiddleLeft, #cboxBottomLeft {
    clear: left;
}
#cboxBottomCenter {
    height: 13px;
    background: #3a3a3a;
    opacity: .5;
    filter: alpha(opacity=50);
}
#cboxBottomRight {
    width: 13px;
    height: 13px;
    background: #3a3a3a;
    opacity: .5;
    filter: alpha(opacity=50);
}
element.style {
    position: absolute;
    width: 9999px;
    visibility: hidden;
    display: none;
    max-width: none;
}


.xl-chrome-ext-bar {
    width: 98px;
    height: 24px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    border-radius: 100px;
    padding: 0px 8px 0px 6px;
}
.input_tips {
    position: relative;
    z-index: 2;
    display: block;
    margin-top: 5px;
    line-height: 18px;
    font-size: 12px;
    padding-left: 20px;
    color: #fd5f39;
    background: url(https://www.lgstatic.com/lg-passport-fed/static/common/static/img/info_03c90e8.png) left center no-repeat;
    background-size: 14px;
}
